<div class="about-container">
    <h1>About Me</h1>
    <img src="assets/picture.png" alt="Profile Image" class="profile-image" />
  
    <section class="bio">
      <h2>Biography</h2>
      <p>Hello! I'm Nthabiseng Nhlapo, a passionate web developer specializing in front-end technologies. I love crafting elegant and responsive designs with a focus on functionality and user experience.</p>
    </section>
  
    <section class="skills">
      <h2>Skills</h2>
      <ul>
        <li>JavaScript / TypeScript</li>
        <li>Angular</li>
        <li>HTML & CSS</li>
        <li>Responsive Design</li>
        <li>RESTful APIs</li>
      </ul>
    </section>
    <section class="experience">
      <h2>Experience</h2>
      <p>I have over [1 years] of experience working on various projects, ranging from small websites to complex web applications.</p>
    </section>
  </div>
  